In [236]:
import pandas as pd

In [237]:
dollar_df = pd.read_csv('Data/inflation_data.csv')
dollar_df.year = dollar_df.year.astype(str)

### Edu wages

In [238]:
wages = pd.read_csv('../data/edu_wages.csv')

In [239]:
pay = wages.iloc[:, 1:27]
ohe = wages.iloc[:, 27:]

In [240]:
pay

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,480,490,500,526,550,576,596,601,623,644,...,769,796,800,807,808,841,865,900,939,1000
1,550,564,576,600,620,650,675,692,701,727,...,865,880,894,900,920,942,962,1000,1032,1115
2,400,414,425,450,462,480,500,528,550,560,...,692,698,720,730,720,751,769,798,814,900
3,300,300,312,320,330,346,360,380,400,400,...,450,462,468,480,480,500,520,550,600,600
4,400,416,430,450,461,480,500,508,520,540,...,620,634,640,650,650,668,680,710,720,769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,250,266,280,294,300,304,330,350,350,360,...,413,411,400,420,450,450,450,480,480,600
86,323,325,355,352,400,400,400,421,440,440,...,520,500,558,552,575,598,600,580,600,600
87,403,415,416,431,461,480,480,480,532,524,...,600,596,640,673,628,673,673,673,750,775
88,549,575,600,640,646,692,700,692,720,769,...,904,961,962,1000,1000,1057,1049,1057,1154,1200
89,769,750,806,848,842,923,880,944,904,1000,...,1165,1250,1244,1327,1346,1403,1442,1442,1578,1635

In [241]:
years = ['1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005' ,'2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020']

for i in range(len(years)):
    # get series for given year
    x = pay[years[i]]

    # get 2022 dollar figure
    y = dollar_df[dollar_df.year == years[i]]
    y = y['2022_dollar'].values[0]

    # convert series to 2022 dollars
    z = x.apply(lambda x: x * y)

    # change original series to 2022 dollars
    pay[years[i]] = z

In [242]:
wages_2022 = wages.copy()

In [243]:
wages_2022.iloc[:, 1:27] = pay
wages_2022 = wages_2022.round(0)

In [244]:
wages_2022.to_csv('../data/edu_wages_2022.csv', index=False)

### union wages

In [245]:
union = pd.read_csv('../data/union_wages.csv')
union_pay = union.iloc[:, 1:24]

In [246]:
union_pay.head(5)

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,576,596,608,620,638,651,671,695,722,739,...,776,791,809,832,860,886,917,984,998,1059
1,691,711,738,760,781,801,833,863,886,908,...,950,970,980,1004,1041,1051,1095,1144,1169,1216
2,685,705,733,755,776,795,827,857,880,901,...,944,965,975,995,1028,1042,1082,1138,1158,1203
3,543,576,587,599,612,622,642,663,691,710,...,750,763,776,802,829,860,892,958,975,1029
4,641,670,679,695,713,722,743,766,798,819,...,860,871,895,915,941,973,1007,1082,1097,1154

In [247]:
years = ['2000', '2001', '2002', '2003', '2004', '2005' ,'2006', '2007', '2008', '2009',
         '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
         '2020']

for i in range(len(years)):
    # get series for given year
    x = union_pay[years[i]]

    # get 2022 dollar figure
    y = dollar_df[dollar_df.year == years[i]]
    y = y['2022_dollar'].values[0]

    # convert series to 2022 dollars
    z = x.apply(lambda x: x * y)

    # change original series to 2022 dollars
    union_pay[years[i]] = z

In [248]:
union_wages_2022 = union.copy()

In [249]:
union_wages_2022.iloc[:, 1:24] = union_pay
union_wages_2022 = union_wages_2022.round(0)

In [250]:
union_wages_2022.to_csv('../data/union_wages_2022.csv', index=False)